body {
    background-color: #191919;
}

.contact .row {
    display: flex;
    background: #191919;
    flex-wrap: wrap;
    gap: 1rem;
}

.contact .heading {
    background-color: #191919;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    padding: 3rem;

}

.contact .heading span {
    color: #ffc107;
}

.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 2rem 1rem;
    text-align: center;
}

.contact .row form h3 {
    text-transform: uppercase;
    color: #ffffff;
}

.contact .row form .inputBox {

    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #191919;
    border: 0.1rem solid #ffc107;
}

.contact .row form .inputBox span {
    color: #ffc107;
    font-size: 1.1rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input {
    width: 100%;
    padding: .7rem;
    font-size: 1rem;
    color: #fff;
    text-transform: none;
    background: none;
    border: none;
    background-color: transparent;
}

.contact .row .btn {
    width: 20%;
    height: 20%;
    font-size: 1rem;
    background: #ffc107;
    border-radius: 50px;
    cursor: pointer;
}